/*
1. Posicionamiento
2. Modelo caja
3. Tipografía
4. Visuales
5. Otros
*/

/* GLOBAL VARIABLES */
:root {
    --font-color: #FFFFFF;
    --primary-color: #000000;
    --secondary-color: #C3DC00;
    --x-lg: 5rem;
    --lg: 1.8rem;
    --md: 1.6rem;
    --sm: 1.4rem;
}

/* RESET DEFAULT BROWSER STYLE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

/* SECCTION HEADER 
******************************************************************************/

header {
    width: 100%;
    height: auto;
    padding: 4px 0px;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

header .btn-menu {
    width: 45px;
    height: 45px;
    margin-left: 16px;
    background-image: url('/assets/icons/menu-hamburguesa.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% 60%;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

/* SECTION START MAIN */

main {
    width: 100%;
    height: auto;
    background-color: var(--font-color);
}

main .main-start-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.main-start-container .start__img {
    object-fit: contain;
    object-position: center;
    margin-bottom: 40px;
}

.main-start-container .start__title {
    padding: 0 16px;
    font-size: var(--x-lg);
    font-weight: 600;
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(195,220,0,1) 48%);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 4.8rem;
    margin-bottom: 20px;
}

.main-start-container .start__info {
    padding: 0 16px;
    font-size: var(--md);
    line-height: 2.6rem;
    margin-bottom: 20px;
}

.btn-primary {
    padding: 12px 16px;
    background-color: var(--secondary-color);
    font-size: var(--md);
    font-weight: 900;
    color: var(--primary-color);
    border-radius: 12px;
}

/* SECTION WHEN IS 
************************************************************************/

.main-when-is-container {
    width: 100%;
    height: auto;
    padding: 0 16px;
    position: relative;
    background-color: var(--primary-color);
    color: var(--font-color);
}

.main-when-is-container .when-is__title {
    padding-top: 20px;
    font-size: var(--x-lg);
    background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(195,220,0,1) 48%);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

.main-when-is-container .when-is__info {
    font-size: var(--md);
    line-height: 2.6rem;
}

.main-when-is-container .btn-primary {
    position: absolute;
    bottom: -20px;
    left: calc(50% - 80px);
}

.main-when-is-container .countdown-container {
    width: 100%;
    min-height: 146px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.countdown-container .countdown-content{
    text-align: center;
    margin: 0 4px;
}

.countdown-container .countdown__text {
    font-size: var(--lg);
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 4px;
}

.countdown-container .countdown__number {
    font-weight: bold;
    font-size: 3rem;
    color: var(--secondary-color);
}

/* SECTION WHERE IS
************************************************************************/

.main-where-is-container {
    width: 100%;
    height: auto;
    padding: 0 16px;
}

.main-where-is-container .where-is__title {
    font-size: var(--x-lg);
    font-weight: 600;
    padding-top: 40px;
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(195,220,0,1) 48%);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 4.8rem;
    margin-bottom: 20px;
}

.main-where-is-container .where-is__info {
    font-size: var(--md);
    line-height: 2.6rem;
    margin-bottom: 20px;
}

.main-where-is-container .where-is__list {
    font-size: var(--md);
    line-height: 2.6rem;
    margin-bottom: 20px;
    margin-left: 28px;
}