/*
1. Posicionamiento
2. Modelo caja
3. Tipografía
4. Visuales
5. Otros
*/

/* GLOBAL VARIABLES */
:root {
    --font-color: #FFFFFF;
    --primary-color: #000000;
    --secondary-color: #C3DC00;
    --x-lg: 4.5rem;
    --lg: 1.8rem;
    --md: 1.6rem;
    --sm: 1.4rem;
    --play-state: running;
}

/* RESET DEFAULT BROWSER STYLE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

/* SECCTION HEADER 
******************************************************************************/

header {
    width: 100%;
    height: auto;
    padding: 4px 0px;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}

header .btn-menu {
    width: 45px;
    height: 45px;
    margin-right: 16px;
    background-image: url('/assets/icons/menu-hamburguesa.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% 60%;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

/* SECTION MENU HEADER 
************************************************************************/
header .menu-header {
    display: none;
}

/* SECTION BANNER MAIN 
************************************************************************/
.main-banner-container .banner__img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    margin-bottom: 46px;
}

/* SECTION START MAIN 
************************************************************************/

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--font-color);
}

main .main-start-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.main-start-container .start__title {
    padding: 0 16px;
    font-size: var(--x-lg);
    font-weight: 600;
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(195,220,0,1) 48%);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 4.8rem;
    margin-bottom: 20px;
}

.main-start-container .start__info {
    padding: 0 16px;
    font-size: var(--md);
    line-height: 2.6rem;
    margin-bottom: 20px;
}

.btn-primary {
    padding: 12px 16px;
    background-color: var(--secondary-color);
    font-size: var(--md);
    font-weight: 900;
    color: var(--primary-color);
    border-radius: 12px;
}

/* SECTION WHEN IS 
************************************************************************/

.main-when-is-container {
    width: 100%;
    height: auto;
    padding: 0 16px;
    position: relative;
    background-color: var(--primary-color);
    color: var(--font-color);
}

.main-when-is-container .when-is__title {
    padding-top: 20px;
    font-size: var(--x-lg);
    background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(195,220,0,1) 48%);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

.main-when-is-container .when-is__info {
    font-size: var(--md);
    line-height: 2.6rem;
}

.when-is__info strong {
    color: var(--secondary-color);
}

.main-when-is-container .btn-primary {
    position: absolute;
    bottom: -20px;
    left: calc(50% - 80px);
}

.main-when-is-container .countdown-container {
    width: 100%;
    min-height: 146px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.countdown-container .countdown-content{
    text-align: center;
    margin: 0 4px;
}

.countdown-container .countdown__text {
    font-size: var(--lg);
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 4px;
}

.countdown-container .countdown__number {
    font-weight: bold;
    font-size: 3rem;
    color: var(--secondary-color);
}

/* SECTION WHERE IS
************************************************************************/

.main-where-is-container {
    width: 100%;
    height: auto;
    padding: 0 16px;
}

.main-where-is-container .where-is__title {
    font-size: var(--x-lg);
    font-weight: 600;
    padding-top: 86px;
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(195,220,0,1) 48%);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 4.8rem;
    margin-bottom: 20px;
}

.main-where-is-container .where-is__info {
    font-size: var(--md);
    line-height: 2.6rem;
    margin-bottom: 20px;
}

.main-where-is-container .where-is__list {
    font-size: var(--md);
    line-height: 2.6rem;
    margin-bottom: 46px;
    margin-left: 28px;
}

/* SECTION OBJCTIVE 
***********************************************************************************/

.main-objective-container {
    width: 100%;
    height: auto;
    padding: 0 16px;
}

.main-objective-container .objective__title {
    font-size: var(--x-lg);
    font-weight: 600;
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(195,220,0,1) 48%);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 5.6rem;
    margin-bottom: 20px;
}

.main-objective-container .objective__info {
    font-size: var(--md);
    line-height: 2.6rem;
    margin-bottom: 20px;
}

.main-objective-container .objective__list {
    font-size: var(--md);
    line-height: 2.6rem;
    margin-bottom: 46px;
    margin-left: 28px;
}

/* SECTION AWARDS 
***********************************************************************************/

.main-awards-container {
    width: 100%;
    height: auto;
    padding: 0 16px;
}

.main-awards-container .awards__title {
    font-size: var(--x-lg);
    font-weight: 600;
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(195,220,0,1) 48%);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 5.4rem;
    margin-bottom: 20px;
}

.main-awards-container .awards__info {
    font-size: var(--md);
    line-height: 2.6rem;
    margin-bottom: 20px;
}

.awards-position .position__number {
    font-size: var(--lg);
    margin-bottom: 12px;
}

.awards-position .position__list {
    font-size: var(--md);
    line-height: 2.6rem;
    margin-bottom: 20px;
    margin-left: 28px;
}

/* SECTION FORM REGISTER 
************************************************************************/

.main-form-container {
    width: 100%;
    height: auto;
    padding: 40px;
    background-color: var(--primary-color);
    color: var(--font-color);
}

.main-form-container .form-register {
    max-width: 690px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form-register .form__title {
    text-align: center;
    font-size: var(--x-lg);
    font-weight: 600;
    background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(195,220,0,1) 48%);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

.form-register .lbl {
    font-size: var(--md);
    font-weight: 600;
    margin-bottom: 8px;
}

.form-register legend {
    font-size: var(--md);
    font-weight: 600;
    margin-bottom: 16px;
}

.form-register input {
    padding: 8px;
    margin-bottom: 42px;
    font-size: var(--sm);
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
}

.form-register .radio-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: var(--sm);
    margin-bottom: 42px;
}

.radio-container input {
    margin-left: 12px;
}

.form-register .checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    font-size: var(--sm);
}

.checkbox-container .input-checkbox {
    margin: 0;
}

.form-register textarea {
    width: 100%;
    padding: 14px;
    resize: none;
    margin-bottom: 46px;
}

/* SECTION SPONSORS 
************************************************************************/

aside {
    width: 100%;
    height: auto;
    padding: 0 16px;
    margin-top: 46px;
    margin-bottom: 40px;
}

aside .sponsor__title {
    font-size: 3.6rem;
    font-weight: 600;
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(195,220,0,1) 48%);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 3.6rem;
    margin-bottom: 20px;   
}

aside .sponsor-silder {
    width: 100%;
    min-height: 140px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 26px;
    /* scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    overflow-x: hidden; */
}

.sponsor-silder img {
    max-width: 280px;
    max-height: 100px;
    object-fit: contain;
    object-position: center;
    /*scroll-snap-align: center;
    animation: change 12s infinite normal linear; */
}

/* @keyframes change {
    0% { transform: translateX(0); }
	20% { transform: translateX(0); }

	25% { transform: translateX(-100%); }
	40% { transform: translateX(-100%); }

	45% { transform: translateX(-200%); }
	70% { transform: translateX(-200%); }

	75% { transform: translateX(-300%); }
	90% { transform: translateX(-300%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%); }
} */

/* SECTION FOOTER 
************************************************************************/

footer {
    width: 100%;
    height: auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--font-color);
}

footer .footer-up {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(287px, 400px));
    place-content: center;
}

.footer-up .footer-about {
    margin: 20px 0;
}

.footer-about .about__title {
    font-size: var(--lg);
    line-height: 2rem;
    margin-bottom: 8px;
}

.footer-about .about__info {
    font-size: var(--sm);
    line-height: 2rem;
}

.footer-up .footer-social-media {
    margin: 20px 0;
}

.footer-social-media .social-media__title {
    font-size: var(--lg);
    line-height: 2rem;
    margin-bottom: 8px;
}

.footer-social-media .social-media__list {
    list-style: none;
}

.list-item > a {
    min-width: 210px;
    display: flex;
    align-items: center;
    font-size: var(--sm);
    color: var(--font-color);
    margin-bottom: 12px;
}
.list-item .list-icon {
    padding: 14px;
    margin-right: 12px;
}

.list-item .icon-facebook {
    background-image: url('/assets/icons/logo-facebook.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.list-item .icon-twitter {
    background-image: url('/assets/icons/logo-twitter.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.list-item .icon-instagram {
    background-image: url('/assets/icons/logo-instagram.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.list-item .icon-youtube {
    background-image: url('/assets/icons/logo-youtube.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.list-item .icon-tiktok {
    background-image: url('/assets/icons/logo-tiktok.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.footer-up .footer-contact-us {
    margin: 20px 0;
}

.footer-contact-us .contact-us__title {
    font-size: var(--lg);
    line-height: 2rem;
    margin-bottom: 8px;
}

.footer-contact-us .contact-us__list {
    list-style: none;
}

.contact-us__list .list-item {
    margin-bottom: 12px;
}

.list-item .item__title {
    font-size: var(--sm);
    line-height: 2rem;
    margin-bottom: 8px;
}

.list-item iframe {
    width: 100%;
    margin-bottom: 12px;
}

.list-item .item__info {
    font-size: var(--sm);
    line-height: 2rem;
}

.item__info a[href*="tel:+"] {
    color: var(--font-color);
    font-weight: bold;
}

.footer-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-down .footer-politics {
    margin-bottom: 8px;
}

.footer-politics a {
    color: var(--font-color);
    font-weight: bold;
    font-size: 1.06rem;
}

.footer-down .footer-copyright {
    margin-bottom: 16px;
}

.footer-copyright .copyright__info {
    font-size: var(--sm);
}